:root {
    /* Images. */
    --mac-background: url('moz-extension://__MSG_@@extension_id__/assets/mac-background.png');
    --mac-panel-left: url('moz-extension://__MSG_@@extension_id__/assets/mac-panel-left.png');
    --mac-panel-center: url('moz-extension://__MSG_@@extension_id__/assets/mac-panel-center.png');
    --mac-panel-right: url('moz-extension://__MSG_@@extension_id__/assets/mac-panel-right.png');
    --mac-desktop-icons: url('moz-extension://__MSG_@@extension_id__/assets/mac-desktop-icons.png');
    --mac-folder-icon: url('moz-extension://__MSG_@@extension_id__/assets/mac-folder-icon.png');
    --mac-up-arrow: url('moz-extension://__MSG_@@extension_id__/assets/mac-up-arrow.png');
    --mac-window-decoration-left: url('moz-extension://__MSG_@@extension_id__/assets/mac-window-decoration-left.png');
    --mac-window-decoration-right: url('moz-extension://__MSG_@@extension_id__/assets/mac-window-decoration-right.png');
    --mac-window-decoration-center: url('moz-extension://__MSG_@@extension_id__/assets/mac-window-decoration-center.png');
    --mac-apple-icon: url('moz-extension://__MSG_@@extension_id__/assets/mac-apple-icon.png');
}

/* Fonts. */
@font-face {
    font-family: 'Virtue';
    src: url('moz-extension://__MSG_@@extension_id__/assets/virtue.ttf');
}
