:root {
    /* Colors. */
    --mac-white: #ffffff;
    --mac-light-grey: #cccccc;
    --mac-dark-grey: #999999;
    --mac-black: #000000;
}

/* Styles */
* {
    image-rendering: crisp-edges !important;
    font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Virtue';
}

body {
    background-image: var(--mac-background) !important;
    background-attachment: fixed !important;
    padding-bottom: 100px;
}

#hnmain {
    border: 1px solid var(--mac-black) !important;
    background-color: var(--mac-white) !important;
    box-shadow:
        inset -1px -1px 0px var(--mac-dark-grey),
        1px 1px 0px var(--mac-black) !important;
    margin-top: 40px !important;
}

#hnmain>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(1) {
    box-shadow:
        inset -1px 0px 0px var(--mac-dark-grey),
        inset 1px 1px 0px var(--mac-white) !important;
    background-color: var(--mac-light-grey) !important;
}

#pagespace {
    position: fixed !important;
    left: 0px !important;
    top: 0px !important;
    right: 0px !important;
    height: 20px !important;
    background:
        var(--mac-panel-left) left no-repeat,
        var(--mac-panel-right) right no-repeat,
        var(--mac-panel-center) center !important;
}

#hnmain>tbody:nth-child(1)>tr:nth-child(4)>td:nth-child(1)>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(1) {
    position: fixed !important;
    width: 99px !important;
    height: 279px !important;
    background: var(--mac-desktop-icons) !important;
    top: 80px !important;
    right: 0px !important;
    z-index: -1 !important;
}

.rank {
    background: var(--mac-folder-icon) no-repeat;
    padding-left: 18px !important;
}

.votearrow {
    background-image: var(--mac-up-arrow);
}

#hnmain>tbody:nth-child(1)>tr:nth-child(3)>td:nth-child(1) {
    padding: 5px !important;
    padding-left: 12px !important;
    box-shadow:
        inset 0px 4px 0px var(--mac-light-grey),
        inset -1px 0px 0px var(--mac-dark-grey),
        inset -3px 0px 0px var(--mac-light-grey),
        inset -4px 0px 0px var(--mac-white),
        inset -5px 0px 0px var(--mac-black),
        inset -4px 0px 0px var(--mac-light-grey),
        inset 1px 0px 0px var(--mac-white),
        inset 3px 3px 0px var(--mac-light-grey),
        inset 4px 4px 0px var(--mac-dark-grey),
        inset 5px 5px 0px var(--mac-black),
        inset 0px -1px 0px var(--mac-black);
}

[href="https://news.ycombinator.com"]>img {
    display: none !important;
}

#hnmain>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(1)>table:nth-child(1) {
    background:
        var(--mac-window-decoration-left) 0px 4px no-repeat,
        var(--mac-window-decoration-right) calc(100% - 0px) no-repeat,
        var(--mac-window-decoration-center) 300px 5px repeat-x !important;
    margin-bottom: -4px !important;
}

#hnmain>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(1)>table:nth-child(1)>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(2) {
    text-align: center;
    padding-left: 6px !important;
    background-color: var(--mac-light-grey) !important;
}

#hnmain>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(1)>table:nth-child(1)>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(3) {
    padding-right: 6px !important;
    margin: 0px !important;
    background-color: var(--mac-light-grey) !important;
}

#hnmain>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(1)>table:nth-child(1)>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(3) a {
    padding-right: 0px !important;
    margin: 0px !important;
    margin-bottom: 2px !important;
}

#hnmain>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(1)>table:nth-child(1)>tbody:nth-child(1) {
    display: flex;
    align-content: center;
}

#hnmain>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(1)>table:nth-child(1)>tbody:nth-child(1)>tr:nth-child(1) {
    margin: auto;
    margin-top: 2px
}

.pagetop {
    font-size: 0px !important;
}

.pagetop a {
    font-size: 10pt;
    padding-right: 8px !important;
}

#hnmain>tbody:nth-child(1)>tr:nth-child(4)>td:nth-child(1) {
    background-color: var(--mac-light-grey) !important;
    box-shadow:
        inset 1px 0px 0px var(--mac-white),
        inset -1px 0px 0px var(--mac-dark-grey) !important;
}

.itemlist {
    padding-top: 5px !important;
}

#hnmain>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(1)>table:nth-child(1)>tbody:nth-child(1)>tr:nth-child(1) {
    display: flex;
    height: 14px;
    padding-top: 1px !important;
    background-color: var(--mac-light-grey) !important;
}

#hnmain>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(1)>table:nth-child(1)>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(1) {
    display: none !important;
}

.pagetop a:hover,
.titlelink:hover {
    text-decoration: underline !important;
}

form {
    color: var(--mac-black) !important;
}

input[type="text"] {
    border-radius: 0px !important;
    border: 0px !important;
    box-shadow:
        inset 1px 1px 0px var(--mac-black),
        inset -1px -1px 0px var(--mac-black),
        1px 1px 0px var(--mac-white),
        0px 1px 0px var(--mac-white),
        1px 0px 0px var(--mac-white),
        -1px -1px 0px var(--mac-dark-grey),
        -1px 0px 0px var(--mac-dark-grey),
        0px -1px 0px var(--mac-dark-grey);
}

.comhead>.hnuser[href^="user?id=a"],
.comhead>.hnuser[href^="user?id=g"],
.comhead>.hnuser[href^="user?id=m"],
.comhead>.hnuser[href^="user?id=s"],
.comhead>.hnuser[href^="user?id=y"],
.comhead>a[href^="from?site=0"],
.comhead>a[href^="from?site=a"],
.comhead>a[href^="from?site=g"],
.comhead>a[href^="from?site=m"],
.comhead>a[href^="from?site=s"],
.comhead>a[href^="from?site=y"],
.comhead>a[href^="from?site=A"],
.comhead>a[href^="from?site=G"],
.comhead>a[href^="from?site=M"],
.comhead>a[href^="from?site=S"],
.comhead>a[href^="from?site=Y"] {
    color: #ce002e !important;
}

.comhead>.hnuser[href^="user?id=1"],
.comhead>.hnuser[href^="user?id=6"],
.comhead>.hnuser[href^="user?id=b"],
.comhead>.hnuser[href^="user?id=h"],
.comhead>.hnuser[href^="user?id=n"],
.comhead>.hnuser[href^="user?id=t"],
.comhead>.hnuser[href^="user?id=z"],
.comhead>a[href^="from?site=b"],
.comhead>a[href^="from?site=h"],
.comhead>a[href^="from?site=n"],
.comhead>a[href^="from?site=t"],
.comhead>a[href^="from?site=z"],
.comhead>a[href^="from?site=B"],
.comhead>a[href^="from?site=H"],
.comhead>a[href^="from?site=N"],
.comhead>a[href^="from?site=T"],
.comhead>a[href^="from?site=Z"] {
    color: #ff6600 !important;
}

.comhead>.hnuser[href^="user?id=2"],
.comhead>.hnuser[href^="user?id=7"],
.comhead>.hnuser[href^="user?id=c"],
.comhead>.hnuser[href^="user?id=i"],
.comhead>.hnuser[href^="user?id=u"],
.comhead>.hnuser[href^="user?id=o"],
.comhead>a[href^="from?site=c"],
.comhead>a[href^="from?site=i"],
.comhead>a[href^="from?site=o"],
.comhead>a[href^="from?site=u"],
.comhead>a[href^="from?site=C"],
.comhead>a[href^="from?site=I"],
.comhead>a[href^="from?site=O"],
.comhead>a[href^="from?site=U"] {
    color: #cd9a00 !important;
}

.comhead>.hnuser[href^="user?id=3"],
.comhead>.hnuser[href^="user?id=8"],
.comhead>.hnuser[href^="user?id=d"],
.comhead>.hnuser[href^="user?id=j"],
.comhead>.hnuser[href^="user?id=p"],
.comhead>.hnuser[href^="user?id=v"],
.comhead>a[href^="from?site=d"],
.comhead>a[href^="from?site=j"],
.comhead>a[href^="from?site=p"],
.comhead>a[href^="from?site=v"],
.comhead>a[href^="from?site=D"],
.comhead>a[href^="from?site=J"],
.comhead>a[href^="from?site=P"],
.comhead>a[href^="from?site=V"] {
    color: #2d9a2c !important;
}

.comhead>.hnuser[href^="user?id=4"],
.comhead>.hnuser[href^="user?id=9"],
.comhead>.hnuser[href^="user?id=e"],
.comhead>.hnuser[href^="user?id=k"],
.comhead>.hnuser[href^="user?id=q"],
.comhead>.hnuser[href^="user?id=w"],
.comhead>a[href^="from?site=e"],
.comhead>a[href^="from?site=k"],
.comhead>a[href^="from?site=q"],
.comhead>a[href^="from?site=w"],
.comhead>a[href^="from?site=E"],
.comhead>a[href^="from?site=K"],
.comhead>a[href^="from?site=Q"],
.comhead>a[href^="from?site=W"] {
    color: #0098ce !important;
}

.comhead>.hnuser[href^="user?id=5"],
.comhead>.hnuser[href^="user?id=f"],
.comhead>.hnuser[href^="user?id=l"],
.comhead>.hnuser[href^="user?id=r"],
.comhead>.hnuser[href^="user?id=x"],
.comhead>a[href^="from?site=f"],
.comhead>a[href^="from?site=l"],
.comhead>a[href^="from?site=r"],
.comhead>a[href^="from?site=x"],
.comhead>a[href^="from?site=F"],
.comhead>a[href^="from?site=L"],
.comhead>a[href^="from?site=R"],
.comhead>a[href^="from?site=X"] {
    color: #672e9b !important;
}

.comhead>a[href$="apple.com"]:before {
    content: "---";
    color: #ffffff00;
    background: var(--mac-apple-icon) 0px;
}

.itemlist tbody tr:nth-child(1) .rank:before,
.itemlist tbody tr:nth-child(4) .rank:before,
.itemlist tbody tr:nth-child(7) .rank:before,
.itemlist tbody tr:nth-child(10) .rank:before,
.itemlist tbody tr:nth-child(13) .rank:before,
.itemlist tbody tr:nth-child(16) .rank:before,
.itemlist tbody tr:nth-child(19) .rank:before,
.itemlist tbody tr:nth-child(22) .rank:before,
.itemlist tbody tr:nth-child(25) .rank:before {
    content: '0' !important;
    color: var(--mac-white) !important;
}
